
.icon-eye:before { content: '\e801'; } /* '' */
.icon-edit:before { content: '\e802'; } /* '' */
.icon-person:before { content: '\e803'; } /* '' */
.icon-car:before { content: '\e804'; } /* '' */
.icon-home:before { content: '\e805'; } /* '' */
.icon-velocemeter:before { content: '\f0e4'; } /* '' */